.songs{
    h2{
        text-align: center;
        color: $clr-red;
        font-size:3rem;
    }
    hr{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border-top: 1px solid $clr-red;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
        .Song-card{
            display:flex;
            justify-content:space-evenly;
            flex-wrap: wrap;
            flex-shrink: none;
            width:100%;
            margin-left: auto;
            margin-right: auto;
           
                div{
                    padding: 10px;
                    hr{
                        width:100%;
                    }
                    h1{
                        color: white;
                        font-size:1.5rem;
                    }
                    img{
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        width:20rem;
                        height:17rem;
                        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                    }
                    h3{
                        text-align: left;
                        color: $clr-red;
                        font-size:1rem;
                    }  
                    audio{
                        border-radius: 0;
                        background-color: white;
                        box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
                        opacity: .8;
                        width: 100%;
                    }
                    audio:hover{
                        background-color: rgb(28, 28, 28);
                        box-shadow: none;
                    }
                }
            }
        }