@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: rgb(28, 28, 28);
}

.flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.char-Bats {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.char-Bats h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.char-Bats hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.char-Bats p {
  text-align: center;
  color: white;
}
.char-Bats .char-bats-img {
  width: 40rem;
}
.char-Bats .char-bats-img img {
  width: 80%;
  height: 35rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: -1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.char-Bats .char-bats-text {
  width: 40rem;
}
.char-Bats .char-bats-text .links {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
}
.char-Bats .char-bats-text .links img {
  height: 8rem;
  width: 8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.char-Bats .char-bats-text .links img:hover {
  height: 9rem;
  width: 9rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about .about-container {
  padding: 20px;
  margin-top: -2rem;
}
.about .about-container h3 {
  text-align: center;
  color: rgb(255, 64, 64);
  font-size: 3rem;
}
.about .about-container hr {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgb(255, 64, 64);
}
.about .about-container p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  color: white;
}
.about h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 64, 64);
}
.about hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgb(255, 64, 64);
}
.about .colab-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.about .colab-container .colab-card {
  padding: 5px;
}
.about .colab-container .colab-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16rem;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about .colab-container .colab-card h2 {
  color: white;
  text-align: center;
}
.about .kanyelovin {
  text-align: center;
  color: rgb(255, 64, 64);
  text-transform: uppercase;
  font-size: 3rem;
}
.about .kanye-relationships {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.about .kanye-relationships div {
  border-radius: 0.75rem;
  margin: 1rem;
  width: 24rem;
  height: 24rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about .kanye-relationships div img {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 1rem;
  height: 20rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.about .kanye-relationships div h2 {
  text-align: center;
  color: white;
}
.about .kanye-relationships div p {
  text-align: center;
  color: white;
}

.Footer {
  width: 100%;
  height: 12rem;
  background-color: transparent;
  border-top: 2px solid rgb(255, 64, 64);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Footer .flex {
  margin-top: 2rem;
}
.Footer .flex ul h4 {
  color: rgb(255, 64, 64);
  text-align: center;
  font-size: 1.9rem;
}
.Footer .flex ul li {
  color: white;
  text-align: center;
}
.Footer .flex ul li:hover {
  font-size: 1.1rem;
}
.Footer .flex ul li:active {
  color: rgb(255, 64, 64);
}
.Footer .flex div {
  width: 30%;
}
.Footer .flex div h3 {
  color: rgb(255, 64, 64);
}
.Footer .flex div p {
  color: white;
}

@media screen and (max-width: 800px) {
  .Footer {
    width: 100%;
    height: 15rem;
    background-color: rgb(10, 10, 10);
    border-top: 2px solid rgb(255, 64, 64);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .Footer .flex {
    margin-top: 2rem;
  }
  .Footer .flex ul h4 {
    color: rgb(255, 64, 64);
    text-align: center;
    font-size: 1.2rem;
  }
  .Footer .flex ul li {
    color: white;
    text-align: center;
  }
  .Footer .flex ul li:hover {
    font-size: 1rem;
  }
  .Footer .flex ul li:active {
    color: rgb(255, 64, 64);
  }
  .Footer .flex div {
    display: none !important;
    visibility: hidden !important;
  }
}
.container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  margin: 30px 160px 30px 160px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media screen and (max-width: 1024px) {
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 30px 80px 30px 80px;
    justify-content: space-between;
    align-items: center;
  }
}
nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  border-bottom: rgb(255, 64, 64) 2px solid;
  padding: 10px;
}

nav .logo {
  font-size: 1.8rem;
  z-index: 9;
}

nav .links {
  display: flex;
  gap: 60px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

nav li {
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.home_underline {
  transform: translateX(-70px);
  width: auto;
  height: 2px;
  background-color: white;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.list:hover > .home_underline {
  transform: translatex(0px);
}

.button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  background-color: rgb(250, 71, 71);
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: " ";
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  transform: skewX(40deg) translateX(-90px);
  background-color: rgba(255, 255, 255, 0.411);
  z-index: 99;
  transition: 0.8s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.button:hover::before {
  transform: skewX(40deg) translateX(100px);
  -webkit-animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
          animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
}

@-webkit-keyframes btnshine {
  from {
    transform: skewX(40deg) translateX(-90px);
  }
  to {
    transform: skewX(40deg) translateX(100px);
  }
}

@keyframes btnshine {
  from {
    transform: skewX(40deg) translateX(-90px);
  }
  to {
    transform: skewX(40deg) translateX(100px);
  }
}
#nav-toggle {
  position: absolute;
  display: none;
}

nav .icon-burger {
  position: absolute;
  right: 5%;
  display: none;
}

nav .icon-burger .line {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  nav .logo {
    z-index: 99;
  }

  .container {
    margin: 30px 10px 30px 30px;
    background-color: black;
    opacity: 0.9;
  }

  nav .links {
    float: none;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 60px;
    background-color: rgba(0, 0, 0, 0.568);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  .home_underline {
    display: none;
  }

  .button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(255, 64, 64);
    border-radius: 100px;
    padding: 10px 40px 10px 40px;
  }

  nav .links a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    font-weight: 600;
  }

  nav .icon-burger {
    z-index: 9;
    display: block;
    caret-color: transparent;
  }

  nav :checked ~ .links {
    left: 0;
  }

  nav .icon-burger .line {
    transition: 0.3s cubic-bezier(0.97, 0.02, 0.44, 0.99);
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(9px) rotate(50deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    transform: translateX(10px);
    opacity: 0;
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-9px) rotate(-50deg);
  }
}
.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 50rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-top: 1px solid rgb(255, 64, 64);
  border-bottom: 1px solid rgb(255, 64, 64);
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:hover .banner {
  opacity: 0.5;
}
.banner-container:hover .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 4 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:hover .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner {
  background-image: url(https://www.teahub.io/photos/full/219-2194637_jay-z-kanye-west-otis-506241-data-src.jpg);
}
.banner-container #Super-banner {
  background-image: url(https://i1.sndcdn.com/artworks-y4zpOOFAaVRe4JES-0nWXpw-t500x500.jpg);
}
.banner-container #Wonder-banner {
  background-image: url(https://static.onecms.io/wp-content/uploads/sites/20/2016/09/kanye-cudi-1024.jpg);
}
.banner-container #Flash-banner {
  background-image: url(https://www.themarysue.com/wp-content/uploads/2018/12/Aquaman-featured.jpg);
}

.quotes {
  padding: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.quotes h2 {
  text-align: center;
  color: rgb(255, 64, 64);
  font-size: 3rem;
}
.quotes hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.quotes .flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.quotes .quote-card {
  margin: 1rem;
  width: 30%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.quotes .quote-card img {
  width: 15rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.quotes .quote-card h3 {
  text-align: center;
  color: rgb(255, 64, 64);
  margin-top: 1rem;
}
.quotes .quote-card p {
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .quotes .quote-card {
    width: 20rem;
  }
}/*# sourceMappingURL=index.css.map */